<h1 class='welcome-h1'>Welcome to BeardCo.</h1>
<h2 class='welcome-tag'>Your online beard care superstore</h2>

<div class="welcome-pic-outer">
  <div class="welcome-pic-inner">
    <%= image_tag('beard1.jpg') %>
  </div>
</div>