

.show-container {
	margin-top: 25px;
}

.thumbnail {
	border: 2px solid #000;
	padding: 0;
}

.caption {
	background-color: #b3ecff;
	border-top: 2px solid #000;
}

.caption h3 {
	font-family: 'Oswald', sans-serif;
}

.caption p {
	font-family: 'Oswald', sans-serif;
}

.comments-con {
	width: 70%;
	margin-top: 50px;
}

.comments-row {
  margin-left: 20px;
}

.index-title h1 {
	font-family: 'Oswald', sans-serif;
	margin-left: 19px;
}

.index-button {
	margin-left: 19px;
}

.index-row {
	margin: 5px;
}

.index-caption {
	background-color: #b3ecff;
	border-top: 2px solid #000;
	height: 180px;
	padding-left: 5px;
}

.index-extra {
	float: right;
	margin-right: 5px;
}




