

.show-container {
	margin-top: 25px;
}

.thumbnail {
	border: 2px solid #000;
	padding: 0;
}

.caption {
	background-color: #b3ecff;
	border-top: 2px solid #000;
}

.caption h3 {
	font-family: 'Oswald', sans-serif;
}

.caption p {
	font-family: 'Oswald', sans-serif;
}

.pro-script {
	font-size: 18px;
}

.comments-con {
	width: 70%;
	margin-top: 100px;
	background-color: #ffcc99;
	padding: 0;
}

.comments-row {
  margin-left: 20px;
}

.comments-pagination {
	border-top: 1px solid #fff;
	margin-left: -18px;
	height: 50px;
	margin-right: 17px;
}

.pagination {
	margin: 5px 5px;
	float: right;
}

.index-title h1 {
	font-family: 'Oswald', sans-serif;
	margin-left: 19px;
}

.index-button {
	margin-left: 19px;
}

.comments-all {
	margin-left: -18px;
}

.index-row {
	margin: 5px;
}

.index-caption {
	background-color: #b3ecff;
	border-top: 2px solid #000;
	height: 180px;
	padding-left: 5px;
}

.index-extra {
	float: right;
	margin-right: 5px;
}

.comms-row {
	margin: 0;
}

.comms-name {
	border-top: 1px solid #fff;
  margin-right: 17px;
  
}

.rated, .rated-p {
	margin-left: 5px;
}

.rated .comm-destroy {
	color: red;
}

