// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome-h1 {
	color: #331a00;
	text-align: center;
	font-size: 4em;
}

.welcome-tag {
	color: #ff9933;
	text-align: center;
}

.welcome-pic-outer {
	display: flex;
	display: -webkit-flex;
	-webkit-justify-content: center;
	justify-content: center;
}

.carousel-flex-con {
	display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column; /* Safari */
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  width: 22%;
  padding-top: 25px;
  margin-left: 39%;
}

.landing-intro {
	text-align: center;
}

.carousel-indicators li {
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
  background-color: #ff9933;
}

.carousel-inner .item {
	width: 400px;
	height: 600px;
}

.carousel-caption {
	color: #331a00;
}