<p id="notice"><%= notice %></p>
<div class="index-title">
  <p><h1>BeardCo. Products</h1></p>
</div>
<div class="index-button">
  <h6><button type="button" class="btn btn-default index-add"><%= link_to 'Add Product', new_product_path %></button></h6>
</div>
<div>
  <% cache @products do %>
    <%= render @products %> 
    <!--renders product partial wrapped in cache-->
  <% end %>   
</div>  




